body {
    font-family: avenir;
}

h1 {
    color: white;
    font-size: 40px;
    margin: 0;
    display: inline-block;
    line-height: 90px;
    padding-left: 15px;
}

nav {
    width: 100%;
    width: 99.5%;
    height: 90px;
    background-color: black;
    margin: 0.25%;
    border: 1px;
    border-color: white;
}

.naviga {
    float: right;
    display: inline-block;
    height: auto;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: #404040;
}

p {
    margin: 30px 10%;
    text-align: center;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.post {
    border-bottom: 1px solid black;
    width: 80%;
    margin: auto;
}

.dropbtn {
    font-family: avenir;
    color: white;
    margin: 0px 20px;
    border: none;
    transition: 0.5s ease-in;
    line-height: 90px;
    height: 90px;
    text-align: center;
    font-weight: bold;
}

.dropbtn:hover {
    background-color: #404040;
}

.dropdown:hover {
    background-color: #404040;
}

.dropdown-content {
    font-family: avenir;
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    left: -30%;
    top: 99%;
}

.dropdown-content a {
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.eds:hover {
    color: white;
    background-color: #404040;
}

.chose {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: avenir;
    font-size: 15px;
    width: 100px;
    line-height: 90px;
    margin: 0 auto;
    text-align: center;
    transition: 0.25s ease-in;
}

#footer {
    /*how to format the footer*/
    background-color: #999;
    /*background = grey*/
    line-height: 110%;
    /*That's how tall it is*/
    position: fixed;
    /*It can't move*/
    bottom: 0;
    /*no margin underneath*/
    width: 100%;
    /*It should take up the whole width of the page*/
    float: left;
    /*It wasn't working without this*/
    margin: -8px;
}

#footer1 {
    /*how to format the footer*/
    background-color: #999;
    /*background = grey*/
    line-height: 110%;
    bottom: 0;
    /*no margin underneath*/
    width: 100%;
    /*It should take up the whole width of the page*/
    float: left;
    margin: -8px;
    /*It wasn't working without this*/
}

.logo {
    font-size: 600%;
    color: #000;
    font-family: cursive, Times;
    width: auto;
    padding-top: 15%;
}

#mainpage {
    background: url(Recto-Verso/frontpic2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logoleft {
    padding-right: 20px;
    display: inline-block;
}

.picbutton {
    display: none;
}

.menu {
    display: none;
}

@media only screen and (max-width: 700px) {
    header {
        width: 100%;
        margin: 0px;
    }
    h1 {
        width: 100%;
        font-size: 30px;
        text-align: right;
    }
    h1:hover {
        background-color: #404040;
    }
    .logoleft:hover {
        background-color: #404040;
    }
    .picbutton {
        display: inline-block;
        text-align: right;
        width: 56px;
        height: 55px;
        transition: 0.25s ease-in;
        cursor: pointer;
        background-color: black;
        border: 0px;
    }
    .menu:hover .fallen {
        display: block;
    }
    .fallen {
        display: none;
        font-family: avenir;
        position: absolute;
        background-color: #000;
        width: 250%;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        text-align: center;
        left: -20px;
        top: 70px;
        border-right-color: #666;
        border-right-width: 1px;
        border-right-style: solid;
    }
    .logoleft {
        display: inline-block;
        padding-right: 7%;
        float: right;
    }
    nav {
        position: relative;
    }
    .menu {
        display: inline-block;
        position: relative;
        height: 70px;
        width: 20%;
        top: 20px;
        left: 20px;
    }
    .naviga {
        display: none;
    }
    .chose:hover {
        background-color: #404040;
        width: 100%;
    }
    .dropdown-content {
        width: 100%;
        left: 100%;
        top: 0%;
        min-width: 0;
    }
    .fallen:hover .dropdown-content {
        display: block;
    }
    .eds {
        line-height: 44px;
        transition: 0.25s ease-in;
        border-left-color: #666;
        border-left-width: 1px;
        border-left-style: solid;
    }
}

@media only screen and (max-width: 400px) {
    .logo {
        font-size: 300%;
    }
    h1 {
        font-size: 25px
    }
}
